<div class="layout-container">
  <app-header (menuToggle)="sidenav.toggle()"></app-header>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav [mode]="isMobile ? 'over' : 'side'" [opened]="!isMobile">
      <app-sidebar></app-sidebar>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="content">
        <app-loader></app-loader>
        <router-outlet></router-outlet>
      </div>
      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
